<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="layout04.css" />
    <title>CSS Layout</title>
  </head>
  <body>
    <h2>position: relative;</h2>
    <div></div>
    <div id="relative">relative</div>
    <div></div>
    <br />

    <h2>position: absolute;</h2>
    <div></div>
    <div id="absolute">absolute</div>
    <div></div>
    <br />

    <h2>position: fixed;</h2>
    <div></div>
    <div id="fixed">fixed</div>
    <div></div>
    <br />

    <h2>position: sticky;</h2>
    <div></div>
    <div id="sticky">sticky</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </body>
</html>
