<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="layout05.css" />
    <title>CSS Layout</title>
  </head>
  <body>
    <div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, earum.
      Possimus, quis. Architecto nulla blanditiis aspernatur, unde deserunt nam,
      quidem enim totam, temporibus sit hic quam alias expedita. Iste, nostrum!
      <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
      quibusdam, assumenda sapiente ipsam voluptatem necessitatibus nam
      doloremque, pariatur molestias odio velit! Minus similique tenetur
      assumenda officia repellendus ullam iste voluptatibus.
    </div>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam
      soluta nisi repudiandae corporis eius quis ad a similique facere. Minus
      consectetur ad nulla vel eum aperiam error incidunt ducimus. Eum!
    </p>
  </body>
</html>
