<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="layout03.css" />
    <title>CSS Layout</title>
  </head>
  <body>
    <div class="container">
      <div class="img"></div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae iste
        adipisci delectus cupiditate iure ducimus expedita mollitia molestias
        corporis ab cum maxime harum voluptatem, atque ex quis. Omnis, incidunt
        quam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum,
        ipsum! Soluta aut omnis placeat minima quo, maxime labore tempore vero
        laudantium excepturi molestias mollitia nemo recusandae repellendus
        autem, odio tempora.
      </p>
    </div>
  </body>
</html>
