<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="layout01.css" />
    <title>CSS Layout</title>
  </head>
  <body>
    <span>123</span>
    <span>456</span>
    <span>789</span>

    <div>123</div>
    <div>456</div>
    <div>789</div>

    <input type="text" value="123" />
    <input type="text" value="456" />
    <input type="text" value="789" />

    <span class="span-display">123</span>
    <span class="span-display">456</span>
    <span class="span-display">789</span>
  </body>
</html>
