/* Container - align-content */

.container {
  height: 400px;
  border: 5px dashed orange;
  display: flex;
  flex-wrap: wrap;
}

.container1 {
  align-content: flex-start;
}

.container2 {
  align-content: center;
}

.container3 {
  align-content: flex-end;
}

.container4 {
  align-content: space-around;
}

.container5 {
  align-content: space-between;
}

.item {
  width: 150px;
  height: 50px;
  margin: 5px;
  background-color: lightblue;
  border: 3px solid blue;
  font-size: 30px;
}
