* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: aliceblue;
}

.container {
  background-color: skyblue;
  max-width: 768px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
}

nav {
  background-color: royalblue;
  color: white;
  padding: 20px;
  flex-basis: 150px;
}

.box-container {
  background-color: lightblue;
  padding: 20px;
  margin: 20px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.box {
  background-color: lightgoldenrodyellow;
  border: 2px solid tomato;
  flex-basis: 50%; /* width: 50% */
  min-height: 150px;
  flex-grow: 1;
}

.box:nth-child(2n) {
  background-color: lightgreen;
  border: 2px solid green;
}

footer {
  background-color: royalblue;
  border: 2px solid blue;
  color: white;
  padding: 20px;
  min-height: 50px;
  flex-basis: 100%; /* width: 100% */
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .box-container {
    padding: 10px;
    margin: 10px;
  }
}

@media screen and (max-width: 500px) {
  .box-container {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
}
