/* background-repeat */
.bg-repeat {
  height: 500px;
  border: solid blue;
  background-image: url("https://interactive-examples.mdn.mozilla.net/media/examples/moon.jpg");
  background-repeat: repeat-x; /* repeat(기본값), no-repeat, repeat-x, repeat-y */
}

/* background-position */
.bg-position {
  height: 500px;
  border: solid blue;
  background-image: url("https://interactive-examples.mdn.mozilla.net/media/examples/moon.jpg");
  background-position: center; /* 값(px, % 등)이나 키워드를 두가지 혼합하여 설정 가능 */
  /* background-position: 100px 100px; */
}

/* background-origin */
.bg-origin {
  height: 500px;
  border: 50px dashed blue;
  padding: 50px;
  background-image: url("https://interactive-examples.mdn.mozilla.net/media/examples/moon.jpg");
  background-origin: border-box; /* padding-box(기본값), border-box, content-box */
}

/* background-size */
.bg-size {
  height: 500px;
  border: solid blue;
  background-image: url("https://helpx.adobe.com/content/dam/help/en/photoshop/using/convert-color-image-black-white/jcr_content/main-pars/before_and_after/image-before/Landscape-Color.jpg");
  background-size: cover; /* auto(기본값: 원본크기), 키워드(cover / contain): 이미지의 비율을 유지하며 요소의 크기에 맞춤, 값(px, % 등) */
  /* background-size: 500px 250px; */
}
