/* 상속 제어 - initial, inherit, unset */

div {
  border: 5px solid gold;
  margin: 5px;
}

.parent1,
.parent2 {
  color: blue;
  font-size: 24px;
}

.child2 {
  color: initial;
  font-size: initial;
  /* all: initial; // div의 border 속성까지 전부 무시 */
}

.parent2 * {
  color: inherit;
  /* all: inherit; // 모든 값을 상속받음 */
}

/*
    부모로부터 상속할 값이 없는 경우 : initial
    부모로부터 상속할 값이 있는 경우 : inherit
*/

.parent2 .child1 {
  all: unset;
}
/*
    CSS unset 키워드를 적용한 속성은
    부모로부터 상속할 값이 존재하면 상속값을, 그렇지 않다면 초깃값을 사용한다. 
    다르게 표현하자면, 전자일 땐 inherit 키워드처럼, 후자일 땐 initial 키워드처럼 동작한다. 
    all 단축 속성을 포함한 모든 속성에 사용할 수 있다.
*/
